.row{
  justify-content: right;
  font-size: 35px;
  position: relative;
  bottom: -120pt;
  }

.img{
  text-align: right;
  position: relative;
  bottom: -120pt;
}

.h3_complete{
  text-align: right;
  font-size: 35px;
  position: relative;
  bottom: -120pt;
}

.body_index{
text-align: right;
font-size: 35px;
position: relative;
bottom: -120pt;
}
