<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game Over</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/index.css">
    <style type="text/css">
   BODY {
    background: #fc0 url(public/background/end.jpg) repeat-y; /* Повторение по вертикали */
   }
  </style>
  <body class = "body_index">

     <h1 font-size = 50px> <%= name %> is DEAD!!!</h1>
    <form action="/" method="get" style="">

    <button type="submit" class="ggg" value="Start">New Game</button>

    </form>
    
  </body>
</html>