<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/start.css">
    <link rel="stylesheet" href="/public/style.css">
      <style type="text/css">
   BODY {
    background: #fc0 url(public/background/start.jpg) repeat-y; /* Повторение по вертикали */
   }
  </style>
  </head>

  <body class = "body_index">
<div class="row">
    <form class="form-inline" action="/initialize" method="get">
      <label for="name">Enter name for your pet: </label>
      <div class="form-group mx-sm-3">
      <label for="name" class="sr-only"></label>
      <input type="text" name="name" class="form-control" id="" placeholder="Name">
      </div>
      <div>
      <input type="text" name="password" class="form-control" id="" placeholder="password" required>
      </div>
      <button type="submit" class="ggg" value="Start">Start</button>
    </form>
</div>
  </body>
</html>